[submodule "canilog4j/themes/ananke"]
	path = canilog4j/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/themes/ananke"]
	path = themes/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
