<table border=0 width=100%><tr><td>
  <h1 class="{{ .Scratch.Get "class_name" }}">
    <a href="{{- .RelPermalink }}">
      {{- .Title -}}
    </a>
  </h1>
<h5>CPE: <a target="_blank" href="https://nvd.nist.gov/products/cpe/search/results?namingFormat=2.3&keyword={{ .Params.cpe }}">{{ .Params.cpe }}</a></h5>
</td><td>
    <table class="title-version-info" border=0>
        {{ if eq .Params.patchedVersion "N/A" }}
        <tr><td class="title-version-info-no-patch">No Patched Version</td><td align=right></td></tr>
        {{ else }}
        <tr><td class="title-version-info-no-patch">Patched Version</td><td align=right>{{ .Params.patchedVersion }}</td></tr>
        {{ end }}
        <tr><td>Last Vulnerable Version</td><td align=right>{{ .Params.lastVulnerable }}</td></tr>
        <tr><td>First Vulnerable Version</td><td align=right>{{ .Params.firstVulnerable }}</td></tr>
    </table>
</td></tr></table><br>
<div><b>Vendor Data</b>
    {{ if eq .Params.vendorExploitInWild true }}
    <span class="tag">
        <img src="/images/Icon - Exploited in The Wild - Vendor Confirmed.png">
        Exploit in the Wild</span>
    {{ end }}

    {{ if eq .Params.vendorConfirmedVulnerable true }}
    <span class="tag">
        <img src="/images/Icon - Exploitable - Vendor Confirmed.png">
        Confirmed Vulnerable</span>
    {{ end }}

    {{ if eq .Params.vendorPatchExists true }}
    <span class="tag">
        <img src="/images/Icon - Vendor Patch Exists.png">
        Vendor Patch Exists</span>
    {{ end }}

    {{ if eq .Params.vendorPatchExists false }}
    <span class="tag">
        <img src="/images/Icon - No Vendor Patch.png">
        No Vendor Patch</span>
    {{ end }}
</div>
<br>
<div><b>Community Data</b>
    {{ if eq .Params.communityLog4jOptional true }}
    <span class="tag">
        <img src="/images/Icon - Log4j Default _ Optional.png">
        Log4j Optional</span>
    {{ end }}

    {{ if eq .Params.communityLog4jDefault true }}
    <span class="tag">
        <img src="/images/Icon - Log4j Default _ Mandatory.png">
        Log4j Default</span>
    {{ end }}

    {{ if eq .Params.communityVulnerable true }}
    <span class="tag">
        <img src="/images/Icon - Vulnerable - Confirmed.png">
        Vulnerable</span>
    {{ end }} 

    {{ if eq .Params.communityExploitable true }}
    <span class="tag">
        <img src="/images/Icon - Exploitable - Confirmed.png">
        Exploitable</span>
    {{ end }}
</div>
