{{- define "content"}}

<main class="main" role="main">
  {{/* partial "archive-list.html" . - */}}
  <div class="content article-list">
    <!-- {{- print ($.Scratch.Get "pages") }} -->
    {{ $paginator := .Paginate ($.Scratch.Get "pages") }}
    {{ range $index, $page := $paginator.Pages }}
    <article
      class="article article-type-page"
      itemscope
      itemtype="http://schema.org/BlogPosting"
    >
      <div class="article-container">
        <div>
          <div class="article-header">
            {{- .Scratch.Set "class_name" "article-title" }}
            {{ partial "post/title.html" . -}}
            {{- .Scratch.Delete "class_name"}}
          </div>
        </div>
        <div class="hidem" id="{{ $index }}_hidden">
          {{- if .Description }}
          <div class="article-entry text-muted" itemprop="description">
            {{- .Description -}}
          </div>
          {{ else if .Content }}
          <div class="article-entry text-muted" itemprop="description">
            {{ .Content }}
          </div>
          {{- end }}
        </div>
      </div>
      <div class="post-expand-collapse">
        <div onclick="onClickExpand('{{ $index }}')" id="{{ $index }}_expander">
          Expand Details
        </div>
      </div>
    </article>
    {{- end -}}
  </div>
  {{ partial "pagination.html" . }}
  <script>
    function onClickExpand(index) {
      var element = document.getElementById(index + '_hidden');
      var isHidden = element.classList.contains('hidem');
      if (isHidden === true) {
        element.classList.remove('hidem');
      } else {
        element.classList.add('hidem');
      }

      var expander = document.getElementById(index + '_expander');
      if (isHidden === true) {
        expander.innerText = 'Collapse Details';
      } else {
        expander.innerText = 'Expand Details';
      }
    }
  </script>
</main>
{{- end }}

