.title-version-info {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  opacity: 0.5;
  color: #0F1417;
}

.title-version-info tr:first-child {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  opacity: 1.0;
  color: #0F1417;
}

.title-version-info-no-patch {
  color: red;
}
